.card-wrapper {
    width:18%;
    .desc {
        margin-top:20px;
    }
    .brand {
        line-height: 0px;
    }
    .price {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
       
    }
    .rupee {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }
}