.header {
  width: 100%;
  background-color: #131921;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .btn-img {
    margin: 10px;

    .menu-btn {
      height: 40px;
      width: 40px;
      border-radius: 3px;
      border: 1px solid #666;
      padding: 10px 8px 10px 8px;
      background-color: black;
      color: white;
      margin-right: 10px;
    }
  }



  .search-bar {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flag {
    margin-left: 35px;
  }

  .text-block {
    margin-left: 15px;
  }
}