.footer {
    width:100%;
    .back-to-top {
        background-color: #37475a;
        text-align: center;
        padding: 1px;
        
    }
    .links-container {
        background-color: #232f3e;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;

        .section {
            .link:hover {
                border-bottom: 1px solid white;
            }
            ul {
                list-style-type: none;
                padding:0;
                li {
                    margin:0 0 5px 0;
                }
            }

        }
    }
}