.footer {
    width:100%;
    .back-to-top {
        background-color: #37475a;
        text-align: center;
        padding: 1px;
        
    }
    .footer-content{
        background-color: #232f3e;
        .links-container {
            
            display: flex;
            justify-content: space-evenly;
    
            .section {
                .link:hover {
                    border-bottom: 1px solid white;
                }
                ul {
                    list-style-type: none;
                    padding:0;
                    li {
                        margin:0 0 5px 0;
                    }
                }
    
            }
        }
        .nav-footer-line {
            width: 100%;
            border-top: 1px solid #3a4553;
            margin-top: 40px;
            
        }
        .footer-logo {
            display: flex;
            padding: 50px;
            justify-content: center;
        }
    }
    }
   
    