.search-bar {
    .searchbarWrapper {

        .left-btn {
            height: 47px;
            background-color: #f3f3f3;
            color: black;
            border: none;
            border-radius: 3px 0 0 3px;
            border-right: 1px solid #cdcdcd;
        }
        .search-btn {
            height:47px;
            background-color: #febd69;
            border: none;
            width:45px;
            border-radius: 0 3px 3px 0;
        }

        


    }
}